### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [62]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [56]:
school_count = school_data_complete["school_name"].nunique()
student_count = school_data_complete["student_name"].nunique()
math_pass = (school_data_complete[school_data_complete["math_score"] > 70].count() /student_count) * 100
reading_pass = (school_data_complete[school_data_complete["reading_score"] > 70].count() /student_count) * 100
total_pass = (school_data_complete[(school_data_complete["math_score"] > 70) & (school_data_complete["reading_score"] > 70)].count() /student_count) * 100


district_summary = pd.DataFrame({"School Count":school_data_complete["school_name"].nunique(),
                                "Student Count" : school_data_complete["student_name"].nunique(),
                                "Total Budget" : school_data_complete["budget"].sum(),
                                "Average Math Score" : school_data_complete["math_score"].mean(),
                                "Average Reading Score" : school_data_complete["reading_score"].mean(),
                                "Percentage of passing Math scores" : math_pass.max(),
                                "Percentage of passing Reading scores" : reading_pass.max(),
                                "Percentage overall passing" : total_pass.max()                                
                                },index=[0])
district_summary["Percentage of passing Reading scores"] = district_summary["Percentage of passing Reading scores"].map("{:.2f} %".format)
district_summary["Percentage of passing Math scores"] = district_summary["Percentage of passing Math scores"].map("{:.2f} %".format)
district_summary["Percentage overall passing"] = district_summary["Percentage overall passing"].map("{:.2f} %".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,}".format)
district_summary

,School Count,Student Count,Total Budget,Average Math Score,Average Reading Score,Percentage of passing Math scores,Percentage of passing Reading scores,Percentage overall passing
0,15,32715,"$82,932,329,558",78.99,81.88,86.68 %,99.34 %,72.80 %

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [57]:
school_grp = school_data_complete.groupby("school_name")
#math_pass = school_grp.loc[school_grp["math_score"] > 70 , :].count()

def reading_calc(reading):
    if (reading > 70): 
        return  True
    else:
        return False
    
reading_pass = school_grp[["reading_score"]].apply(lambda x : reading_calc(x['reading_score']),axis=1)
#total_pass = school_data_complete[(school_data_complete["school_name","math_score"] > 70) & (school_data_complete["school_name","reading_score"] > 70)].count() 
reading_pass

TypeError: <lambda>() got an unexpected keyword argument 'axis'

In [46]:
print(school_names)

['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']

In [65]:
school_names = school_data_complete['school_name'].unique().tolist()

school_data_group = school_data_complete.groupby("school_name")

for n in school_names: 
    series = school_data_complete.loc[n , :]

print(series)

KeyError: 'Huang High School'

In [103]:
def scores_calc(math,reading):
    if (math > 70 and reading > 70): 
        return  1
    else:
        return  
        
school_data_complete['combined_score'] = school_data_complete.apply(lambda x: scores_calc(x['math_score'],x['reading_score']),axis=1)
school_data_complete['math above 70'] = school_data_complete.loc[school_data_complete["math_score"] > 70, 'math_score']
school_data_complete['read above 70'] = school_data_complete.loc[school_data_complete["reading_score"] > 70, 'reading_score']
school_data_complete['read2 above 70'] = np.where(school_data_complete['reading_score'] > 70, 0, 1)
school_data_complete

C:\Users\bpezz\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  # Remove the CWD from sys.path while we load stuff.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,CustomRating,combined_score,above 70,math above 70,read above 70,read2 above 70
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,0,NaN,True,79.0,NaN,1
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,0,NaN,False,NaN,94.0,0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,0,NaN,False,NaN,90.0,0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,0,NaN,False,NaN,NaN,1
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,1,1.0,True,84.0,97.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,1,1.0,True,90.0,99.0,0
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,0,NaN,False,NaN,95.0,0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,1,1.0,True,84.0,73.0,0
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,1,1.0,True,90.0,99.0,0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,1,1.0,True,75.0,95.0,0

In [109]:
school_summary_grp = school_data_complete.groupby(['school_name']).agg({'budget': sum,
                                                                        'student_name':'count',
                                                                        'math_score' : ['mean','count'],
                                                                        'reading_score' : ['mean','count'],
                                                                        'combined_score' : ['count'],
                                                                        'math above 70' : ['count'],
                                                                        'read2 above 70' : ['sum','count']
                                                                        })



#purchase_count = purchase_count.rename(columns = {'count' :'Purchase Count',
#                                                  'Price':'','mean':'Item Price',
#                                                  'sum':'Total Purchase Value'})
#purchase_count = purchase_count.sort_values([('','Purchase Count')],ascending=False)
#purchase_count[('','Item Price')] = purchase_count[('','Item Price')].map("${:.2f}".format)
#purchase_count2 = purchase_count.copy()
#purchase_count[('','Total Purchase Value')] = purchase_count[('','Total Purchase Value')].map("${:.2f}".format)
school_summary_grp['combined_score','count']=school_summary_grp['combined_score','count'] / school_summary_grp['reading_score','count'] * 100
school_summary_grp['math above 70','count']=school_summary_grp['math above 70','count'] / school_summary_grp['math_score','count'] * 100
school_summary_grp['read above 70']=(school_summary_grp['read2 above 70','count'] / school_summary_grp['read2 above 70','sum']) * 100

school_summary_grp
#school_test summary = pd.DataFrame()

                            budget student_name math_score        \
                               sum        count       mean count
school_name
Bailey High School     15549641728         4976  77.048432  4976
Cabrera High School     2009159448         1858  83.061895  1858
Figueroa High School    5557128039         2949  76.711767  2949
Ford High School        4831365924         2739  77.102592  2739
Griffin High School     1346890000         1468  83.351499  1468
Hernandez High School  14007062700         4635  77.289752  4635
Holden High School       105933149          427  83.803279   427
Huang High School       5573322295         2917  76.629414  2917
Johnson High School    14733628650         4761  77.072464  4761
Pena High School         563595396          962  83.839917   962
Rodriguez High School  10186904637         3999  76.842711  3999
Shelton High School     1860672600         1761  83.359455  1761
Thomas High School      1705517550         1635  83.418349  1635
Wilson High School      3012587442         2283  83.274201  2283
Wright High School      1888920000         1800  83.682222  1800

                      reading_score       combined_score math above 70  \
                               mean count          count         count
school_name
Bailey High School        81.033963  4976      51.145498     64.630225
Cabrera High School       83.975780  1858      84.015070     89.558665
Figueroa High School      81.158020  2949      49.915226     63.750424
Ford High School          80.746258  2739      51.296093     65.753925
Griffin High School       83.816757  1468      83.651226     89.713896
Hernandez High School     80.934412  4635      50.161812     64.746494
Holden High School        83.814988   427      84.074941     90.632319
Huang High School         81.182722  2917      49.914296     63.318478
Johnson High School       80.966394  4761      49.800462     63.852132
Pena High School          84.044699   962      84.823285     91.683992
Rodriguez High School     80.744686  3999      49.437359     64.066017
Shelton High School       83.725724  1761      83.191369     89.892107
Thomas High School        83.848930  1635      84.281346     90.214067
Wilson High School        83.989488  2283      84.888305     90.932983
Wright High School        83.955000  1800      84.444444     90.277778

                      read2 above 70       read above 70
                                 sum count
school_name
Bailey High School              1030  4976    483.106796
Cabrera High School              114  1858   1629.824561
Figueroa High School             636  2949    463.679245
Ford High School                 616  2739    444.642857
Griffin High School               97  1468   1513.402062
Hernandez High School           1011  4635    458.456973
Holden High School                31   427   1377.419355
Huang High School                618  2917    472.006472
Johnson High School             1034  4761    460.444874
Pena High School                  75   962   1282.666667
Rodriguez High School            890  3999    449.325843
Shelton High School              130  1761   1354.615385
Thomas High School               116  1635   1409.482759
Wilson High School               154  2283   1482.467532
Wright High School               118  1800   1525.423729

In [ ]:
df['color'] = np.where(df['Set']=='Z', 'green', 'red')

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type